<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Form</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Student Form</h1>
		<hr>
		<h2>Save Student</h2>

		<form action="#" th:action="@{/saveStudent}" th:object="${student}"
			method="POST">
			
			<input type="text" th:field="*{id}"
				placeholder=" Student ID" class="form-control mb-4 col-4">
			
			<input type="text" th:field="*{firstName}"
				placeholder="Student first Name" class="form-control mb-4 col-4">
 
 			<input type="text" th:field="*{lastName}"
				placeholder="Student Last Name" class="form-control mb-4 col-4">
 			
 			<input type="text" th:field="*{mob}"
				placeholder="Student Mob" class="form-control mb-4 col-4">
 			
 			<button type="submit" class="btn btn-info col-2">SAVE STUDENT</button>
 			
		</form>

	</div>
</body>
</html>